<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<typeAliases>
<typeAlias type="com.phonefo.admin.domain.AdminMemberVO" alias="admin"/>
<typeAlias type="com.phonefo.payment.domain.SktVO" alias="skt_payment"/>
<typeAlias type="com.phonefo.board.domain.BoardVO" alias="boardVO"/>
<typeAlias type="com.phonefo.phone.domain.PhoneInfoVO" alias="phone"/>
</typeAliases>
</configuration>
