<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="quote">

  	<!-- 삼성 기기명 가져오기 -->	
 	<select id="machine" resultType="com.phonefo.quote.domain.PhoneVO">
 		select name,manufacture,release_date from ph_phone
 			where manufacture=#{manufacture}
 	</select>


 	<select id="capacity" resultType="com.phonefo.quote.domain.PhoneVO">
 		select name,capacity,release_price from ph_capacity
 		where name=#{machine}
 	</select>
 	
 	<select id="price" resultType="com.phonefo.quote.domain.PhoneVO">
 		select name,capacity,release_price,release_date from ph_capacity
 		natural join ph_phone
 		where name=#{machine} and capacity=#{capacity}
 	</select>
	
	
 	<insert id="insertBoard">
 		insert into ph_quoteBoard values
 		(ph_quoteBoard_seq.nextval,#{userid},#{username},#{tel},#{quote_price},#{request_message},#{bank_name},
 		  #{account_number},sysdate,#{power},#{glass},#{equipment},0,#{manufacture},
 		  #{machine},#{capacity})

 	</insert>
 	
 	<select id="listBoard" resultType="com.phonefo.quote.domain.QuoteVO">
 		select * from ph_quoteBoard
 		order by no desc
 	</select>
 	
 	<select id="quoteConfirm" resultType="com.phonefo.quote.domain.QuoteVO">
 		select *from ph_quoteBoard 
 		where no=#{no}
 	</select>

 	<insert id="purchase_request">
 		insert into purchase_request values(purchase_request_seq.nextval,#{userid},#{no},1)
 	</insert>
 	
 	<select id="repairPrice" resultType="com.phonefo.quote.domain.RepairVO">
 		select *from ph_repair where name=#{machine}
 	</select>
 	
 	<insert id="insertRepair">
 		insert into ph_repairBoard 
 			values(ph_repairBoard_seq.nextval,#{userid},#{username},#{tel},
 			#{quote_price},#{request_message},
 			#{bank_name},#{account_number},sysdate,0,#{machine},#{machineState})

 	</insert>
 	
 	
 	<select id="listRepair" resultType="com.phonefo.quote.domain.RepairVO">
 		select *from ph_repairBoard
 	</select>
 	
 	<select id="repairConfirm" resultType="com.phonefo.quote.domain.RepairVO">
 		select *from ph_repairBoard where no=#{no}
 	</select>
 	
 	<insert id="requestRepair">
 		insert into repair_request values(repair_request_seq.nextval,#{userid},#{no},1)
 	</insert>
 	
 	<update id="stateUpdate">
 		update ph_quoteBoard set state=1 where no=#{no}
 	</update>
 	
 	<update id="stateUpdate2">
 		update ph_repairBoard set state=1 where no=#{no}
 	</update>


</mapper>
