<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

	<!-- 마이페이지 일반멤버 출력 -->
	<select id="mypageMemberInfo" resultType="mypageMember">
		select memberno,userid,userpwd,username,birth,gender,email,rdate,tel,root,businessNum 
		from ph_member
		where userid = #{userid}
	</select>
	
	<!-- 마이페이지 비즈니스멤버 출력 -->
	<select id="mypageB_MemberInfo" resultType="mypageB_Member">
	select userid,userpwd,tel,email,businessNum,companyName,leader,address,rdate,root from ph_business_member
			where userid=#{userid}
	
	</select>
	<!-- 마이페이지 1대1문의 출력 -->
	<select id="mypageOnoInfo" resultType="mypageOno">
		select
		ono,userid,title,category,content,image,regdate,answer,answer_regdate
		from ph_ono
		where userid = #{userid}
		order by ono desc
	</select>
	
	<!-- 마이페이지 내정보 업데이트 -->
	<update id="mypageMemberUp">
	update ph_member set userpwd=#{userpwd}, tel=#{tel}
		where userid=#{userid}
	</update>
	
	<!-- 마이페이지 중고 리스트 -->
	<select id="mypageQuoteInfo" resultType="mypageQuote">
		select no,userid,username,tel,quote_price,request_message,bank_name,account_number,rdate,power,glass,equipment
		,state,manufacture,machine,capacity
		 from ph_quoteBoard
		 where userid=#{userid}
 			order by no desc
	
	</select>
	
	<!-- 마이페이지 중고 신청 업체 리스트 -->
	<select id="mypagePurchase" resultType="mypagePurchase">
	
	
	select r.no,m.userid,r.purchaseNum,m.tel,m.businessNum,b.companyName,b.address
	from ph_business b,ph_member m,purchase_request r, PH_QUOTEBOARD q
	where b.businessNum in((select businessNum from ph_member where m.userid in ((select a.userid from purchase_request a, PH_QUOTEBOARD b where a.no=#{no} and b.no=#{no} and a.no=b.no))))
	and r.userid = m.userid and m.businessNum = b.businessNum and r.no = q.no and r.no=#{no}
	
	</select>
	<!-- 마이페이지 중고 업체 선택처리 map으로 넣엇음 -->
	<update id="mypagePurchaseChooseQoute">
	update ph_quoteBoard set state=2 where no=#{no}

	</update>
	
	<!-- 마이페이지 중고 업체 선택처리 map으로 넣엇음 -->
	<update id="mypagePurchaseChooseRequest">
	update purchase_request set state=2 where userid=#{userid} and no=#{no}

	</update>
	
	<!-- 마이페이지 내가 판매 선택한 업체 정보 -->
	<select id="mypagePurchaseIng" resultType="mypagePurchase">
		select r.no,m.userid,r.purchaseNum,m.tel,m.businessNum,b.companyName,b.address
	from ph_business b,ph_member m,purchase_request r
	where b.businessNum in((select businessNum from ph_member where m.userid in ((select userid from purchase_request where no=#{no} and state=2))))
	and r.userid = m.userid and m.businessNum = b.businessNum
	
	</select>
	

	<!-- 마이페이지 회원탈퇴 -->
	<delete id="mypageMemberDel">
	delete from ph_member where userid=#{userid}
	</delete>

</mapper>