<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">


	<insert id="insertMember">
	insert into ph_member 
		values(ph_member_seq.nextval,#{userid},#{userpwd},#{username},#{birth},#{gender},#{email},sysdate,#{tel},#{root},null)
	</insert>
	<insert id="insertMemberB">
	insert into ph_member 
		values(ph_member_seq.nextval,#{userid},#{userpwd},#{username},#{birth},#{gender},#{email},sysdate,#{tel},#{root},#{businessNum})
	</insert>

		
	<insert id="insertBusiness">
	insert into ph_business
		values(#{businessNum},#{companyName},#{leaderName},#{address},200000)
	</insert>


	<select id="checkId" resultType="int">
		select count(*) from ph_member
			where userid=#{userid}
		
	</select>

	
	
	<select id="check_general_memeber"  resultType="int">
		select count(*) from ph_member
			where userid=#{userid} and userpwd=#{userpwd}
	</select>
	
	<select id="check_business_member"  resultType="String">
					select businessNum from ph_member
						where userid=#{userid}
	</select>
	
		
	<select id="getVO" resultType="com.phonefo.main.domain.MemberVO">
		select * from ph_member
			where userid=#{userid}
	</select>
	
	<select id="getBVO" resultType="com.phonefo.main.domain.MemberVO">
		select memberno,userid,userpwd,username,birth,gender,email,rdate,tel,root,businessNum,
		companyName,leaderName,address from ph_member natural join ph_business
		where userid=#{userid}
	</select> 

</mapper>
