<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phone">
	<select id="selectInfo" parameterType="String" resultType="phone">
		select *
		from ph_phone
		where manufacture=#{manufacture}
		order by no desc
	</select>
	<select id="select_spec_Info" parameterType="int" resultType="phone">
		select *
		from ph_phone
		where no=#{no}
	</select>
	<select id="select_color" parameterType="int" resultType="com.phonefo.phone.domain.PhoneColorVO">
		select *
		from ph_color
		where no=#{no}
	</select>
	<select id="select_capacity" parameterType="int" resultType="com.phonefo.phone.domain.PhoneCapaVO">
		select *
		from ph_capacity
		where no=#{no}
	</select>
	<select id="select_Sspec_processor" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_processorVO">
		select *
		from Sspec_processor
		where no=#{no}
	</select>
	<select id="select_Sspec_display" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_displayVO">
		select *
		from Sspec_display
		where no=#{no}
	</select>
	<select id="select_Sspec_camera" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_cameraVO">
		select *
		from Sspec_camera
		where no=#{no}
	</select>
	<select id="select_Sspec_memory" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_memoryVO">
		select *
		from Sspec_memory
		where no=#{no}
	</select>
	<select id="select_Sspec_network" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_networkVO">
		select *
		from Sspec_network
		where no=#{no}
	</select>
	<select id="select_Sspec_connect" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_connectVO">
		select *
		from Sspec_connect
		where no=#{no}
	</select>
	<select id="select_Sspec_specifications" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_specificationsVO">
		select *
		from Sspec_specifications
		where no=#{no}
	</select>
	<select id="select_Sspec_battery" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_batteryVO">
		select *
		from Sspec_battery
		where no=#{no}
	</select>
	<select id="select_Sspec_audio" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_audioVO">
		select *
		from Sspec_audio
		where no=#{no}
	</select>
	<select id="select_Sspec_service" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_serviceVO">
		select *
		from Sspec_service
		where no=#{no}
	</select>
</mapper>
