<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="phone">
	<select id="selectInfo" parameterType="String" resultType="phone">
		select *
		from ph_phone
		where manufacture=#{manufacture}
		order by no desc
	</select>
	<select id="select_color" parameterType="int" resultType="com.phonefo.phone.domain.PhoneColorVO">
		select *
		from ph_color
		where no=#{no}
		order by no desc
	</select>
	<select id="select_capacity" parameterType="int" resultType="com.phonefo.phone.domain.PhoneCapaVO">
		select *
		from ph_capacity
		where no=#{no}
		order by no desc
	</select>
	<select id="select_Sspec_processor" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_processorVO">
		select *
		from Sspec_processor
		where no=#{no}
		order by no desc
	</select>
	<select id="select_Sspec_processor_value" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_processor_valueVO">
		select * 
		from Sspec_processor_value
		where no=#{no}
		order by no desc	
	</select>
	<select id="select_Sspec_display" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_displayVO">
		select *
		from Sspec_display
		where no=#{no}
		order by no desc
	</select>
	<select id="select_Sspec_display_value" parameterType="int" resultType="com.phonefo.phone.domain.Sspec_display_valueVO">
		select *
		from Sspec_display_value
		where no=#{no}
		order by no desc
	</select>
</mapper>
