<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="skt">
	<select id="payment_signiture" resultType="Skt_payment">
		select *
		from skt_pay
		where payment like '%시그니처%'
		order by fixed_month
	</select>
</mapper>
