<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

   <!-- 멤버 검색어를 통한 리스트 조회 -->
   <select id="listMember" resultType="adminMember">
     select memberno,userid,userpwd,username,birth,gender,email,rdate,tel,root,businessNum from ph_member
			where businessNum is NULL
	  <if test="searchType != null">
	    <if test="searchType == 'i'.toString() ">
	        and userid like '%'||#{keyword}||'%'
	    </if>
	    <if test="searchType == 'm'.toString()">
	       and username like '%'||#{keyword}||'%'
	    </if>
	      <if test="searchType == 'im'.toString()">
	       and (username like '%'||#{keyword}||'%' or userid like '%'||#{keyword}||'%')
	    </if>
	  </if>       
	 order by memberno desc	   
   </select>
   <!-- 멤버검색카운트 -->
   <select id="memberSearchCount" resultType="int">
      select count(*)
      from ph_member where businessNum is NULL
       <if test="searchType != null">
	    <if test="searchType == 'i'.toString() ">
	        and userid like '%'||#{keyword}||'%'
	    </if>
	    <if test="searchType == 'm'.toString()">
	       and username like '%'||#{keyword}||'%'
	    </if>
	      <if test="searchType == 'im'.toString()">
	       and (username like '%'||#{keyword}||'%' or userid like '%'||#{keyword}||'%')
	    </if>
	  </if>       
   </select>
   
   <!-- 비즈니스멤버 검색어를 통한 리스트 조회 -->
   <select id="listB_Member" resultType="adminMember">
     select memberno,userid,userpwd,username,birth,gender,email,rdate,tel,root,businessNum,
		companyName,leaderName,address from ph_member natural join ph_business
	where businessNum is not NULL
	  <if test="searchType != null">
	    <if test="searchType == 'i'.toString() ">
	        and userid like '%'||#{keyword}||'%'
	    </if>
	    <if test="searchType == 'm'.toString()">
	       and companyName like '%'||#{keyword}||'%'
	    </if>
	      <if test="searchType == 'im'.toString()">
	       and (companyName like '%'||#{keyword}||'%' or userid like '%'||#{keyword}||'%')
	    </if>
	  </if>       
	 order by memberno desc	   
   </select>
   <!-- 비즈니스멤버검색카운트 -->
   <select id="b_memberSearchCount" resultType="int">
      select count(*)
      from ph_member where businessNum is not NULL
       <if test="searchType != null">
	    <if test="searchType == 'i'.toString() ">
	        and userid like '%'||#{keyword}||'%'
	    </if>
	    <if test="searchType == 'm'.toString()">
	       and companyName like '%'||#{keyword}||'%'
	    </if>
	      <if test="searchType == 'im'.toString()">
	       and (companyName like '%'||#{keyword}||'%' or userid like '%'||#{keyword}||'%')
	    </if>
	  </if>       
   </select>

   <!-- 1대1 검색어를 통한 리스트 조회 -->
   <select id="listOno" resultType="adminOno">
     select ono,userid,title,category,content,image,regdate,answer,answer_regdate
     from ph_ono
	  <if test="searchType != null or keyword != null">
	  <if test="keyword !=null">
	 		 where title like '%'||#{keyword}||'%' 
		<if test="searchType != null">
	  
	    <if test="searchType == '에러1'.toString() ">
	        and category like '%'||#{searchType}||'%'
	    </if>
	    <if test="searchType == '에러2'.toString()">
	       and category like '%'||#{searchType}||'%'
	    </if>
	    <if test="searchType == '에러3'.toString()">
	       and category like '%'||#{searchType}||'%'
	    </if>
	    <if test="searchType == '에러4'.toString()">
	       and category like '%'||#{searchType}||'%'
	     </if>
	     </if>
	    </if>
	  </if>
	order by ono desc	   
   </select>
   
   <select id="onoSearchCount" resultType="int">
      select count(ono)
      from ph_ono
   </select>
  
  <update id="onoAnser">
  update ph_ono set answer=#{answer},answer_regdate=sysdate where ono=#{ono}
  </update>
  
  <select id="routeInfo" resultType="adminRoute">
  select root from ph_member
  
  </select>
  
  <select id="routeInfoCnt" resultType="int">
  
  select count(*) from ph_member
  
  </select>  
  
  <select id="quoteDeal" resultType="int">
   select count(*) from ph_quoteBoard where state=3
  </select>
  
  <select id="quotePrice" resultType="adminCnt">
  select quote_price from ph_quoteBoard where state=3
  </select>
  
  <select id="repairDeal" resultType="int">
  select count(*) from ph_repairBoard where state=3
  </select>
  
  <select id="repairPrice" resultType="adminCnt">
  select repair_price from ph_repairBoard where state=3
  </select>
  
  <insert id="repairInsert" parameterType="adminRepair">

  insert into ph_repair values(#{name},#{glass},#{backcover},#{crome},#{pan},#{scratch},#{powerbutton},#{homebutton}
		,#{sound},#{camera},#{wifi},#{charge},#{battery},#{sensor},#{afterimage},#{lcd})
		

  </insert>
  
</mapper>

