<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
  <cache-ref namespace="admin"/>
  
   <!-- 검색어를 통한 리스트 조회 -->
   <select id="listMember" resultType="admin">
     select userid,userpwd,username,rdate,birth,gender,email,tel,root,status 
     from ph_member
	  <if test="searchType != null">
	    <if test="searchType == 'i'.toString() ">
	        where userid like '%'||#{keyword}||'%'
	    </if>
	    <if test="searchType == 'n'.toString()">
	       where username like '%'||#{keyword}||'%'
	    </if>
	  </if>       
	 order by rdate desc	   
   </select>
   
   <select id="listSearchCount" resultType="int">
      select count(userid)
      from ph_member
   </select>
  
</mapper>

