<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

  
   <!-- 멤버 검색어를 통한 리스트 조회 -->
   <select id="listMember" resultType="adminMember">
     select userid,userpwd,username,rdate,birth,gender,email,tel,root,status 
     from ph_member
	  <if test="searchType != null">
	    <if test="searchType == 'i'.toString() ">
	        where userid like '%'||#{keyword}||'%'
	    </if>
	    <if test="searchType == 'm'.toString()">
	       where username like '%'||#{keyword}||'%'
	    </if>
	      <if test="searchType == 'im'.toString()">
	       where username like '%'||#{keyword}||'%' or userid like '%'||#{keyword}||'%'
	    </if>
	  </if>       
	 order by rdate desc	   
   </select>
   
   <select id="memberSearchCount" resultType="int">
      select count(*)
      from ph_member
       <if test="searchType != null">
	    <if test="searchType == 'i'.toString() ">
	        where userid like '%'||#{keyword}||'%'
	    </if>
	    <if test="searchType == 'm'.toString()">
	       where username like '%'||#{keyword}||'%'
	    </if>
	      <if test="searchType == 'im'.toString()">
	       where username like '%'||#{keyword}||'%' or userid like '%'||#{keyword}||'%'
	    </if>
	  </if>       
   </select>

   <!-- 1대1 검색어를 통한 리스트 조회 -->
   <select id="listOno" resultType="adminOno">
     select ono,userid,title,categori,content,image_path,regdate,email,answer,answer_regdate
     from ph_ono
	  <if test="searchType != null">
	    <if test="searchType == 'i'.toString() ">
	        where userid like '%'||#{keyword}||'%'
	    </if>
	    <if test="searchType == 'n'.toString()">
	       where username like '%'||#{keyword}||'%'
	    </if>
	  </if>       
	 order by ono desc	   
   </select>
   
   <select id="onoSearchCount" resultType="int">
      select count(ono)
      from ph_ono
   </select>
  
</mapper>

